<%- include('partials/header') -%>

<h1>Hallow, Welcome to the landing page</h1>

<div class="users">
  <a href="/users">Users</a>
  <br />
  <a href="/signup">SignUp</a>
</div>

<%- include('partials/footer') -%>
